aiohttp==3.8.3
cchardet==2.1.7
chardet==5.0.0
charset_normalizer==2.0.7
clr==1.0.3
cryptography==37.0.2
graphviz==0.20.1
ipython==8.6.0
msal==1.18.0
msal_extensions==0.3.1
msrest==0.6.21
multidict==6.0.2
networkx==2.8.6
pydot==1.4.2
Pyro4==4.82
pytz==2022.2.1
pywin32==302
requests==2.26.0
trio==0.22.0
urllib3==1.26.7
wrappers==0.1.9
yarl==1.8.1
